<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data Pasien</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <header>
            Edit Data Pasien
        </header>

        <form action="/update/<%= data.id %>" method="POST">
            <h2>Edit Pasien</h2>
            <input type="text" name="name" value="<%= data.name %>" required>
            <input type="number" name="age" value="<%= data.age %>" required>
            <input type="text" name="disease" value="<%= data.disease %>" required>
            <button type="submit">Update Data</button>
        </form>
    </div>
</body>
</html>
